[Unit]
Description=ProjectOne Project
After=network.target
[Service]
ExecStart=/home/user/2023-2024-projectone-mct-YoranWandelsStudentHowest/venv_p1/bin/python -u /home/user/2023-2024-projectone-mct-YoranWandelsStudentHowest/backend/app.py
WorkingDirectory=/home/user/2023-2024-projectone-mct-YoranWandelsStudentHowest/backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=user
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
[Install]
WantedBy=multi-user.target